__pycache__/
.vscode
assets/
experiments/eval_transfer.py
logs/
.venv/
.venv-1/
experiments/amr/results
experiments/results/vae_multidecoder_prior_amr
experiments/results/vae_multidecoder_prior_amr_embeddings
experiments/results/vae_multidecoder_prior_amr_latent
experiments/results/vae_multidecoder_prior_multiamr
experiments/results/vae_multidecoder_prior_species_head
experiments/finetunig/logs
experiments/results/DRIAMS_D_AMR_SAMPLES
experiments/results/MSUMG_AMR_SAMPLES
logs_training/
amr_global_final_v3.pkl
amr_global_final.pkl
amr_global_v2.pkl
sbatch/
.claude/
finetuning_amr_all_species_msumg/
iwae_multidecoder_prior_multiamr/
vae_multidecoder_prior_amr/
experiments/novelty_detection/gmm.py
experiments/novelty_detection/results/
experiments/finetuning/amr/output_data/
experiments/results/vae_multidecoder_prior/20260310_145701/
experiments/results/vae_multidecoder_prior/20260324_172208/
experiments/results/vae_multidecoder_prior/20260331_103808/
models/baselines/amr_mlp_augmentation.py
models/baselines/amr_mlp_latent_augmentation.py
models/baselines/amr_mlp_latent.py
models/baselines/amr_mlp.py
experiments/finetuning/amr/old
experiments/finetuning/amr/run_finetuning_grid_AMR_MSUMG_klebsiella.py
experiments/finetuning/amr/run_finetuning_grid_AMR_MSUMG_staphy.py
experiments/results/vae_multidecoder_prior_multiamr_all_species_all_abs/20260721_091354
experiments/results/vae_multidecoder_prior_multiamr_all_species_all_abs/20260720_194229
exploration/