experiments/original_space_cross_domain_2018.ipynb filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder/20251230_121358/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior/20260107_153149/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior/20260109_132434/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior/20260116_084734/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior/20260202_093843/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior/20260202_102602/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior_4domains/20260204_235724/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior_4domains/20260205_002656/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior_4domains/20260205_002952/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior_5domains/20260205_080627/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/vae_multidecoder_prior_5domains/20260205_151401/model.pth filter=lfs diff=lfs merge=lfs -text
experiments/results/finetuning_vae_multidecoder_prior/20260211_143045/model.pth filter=lfs diff=lfs merge=lfs -text
